.App {
  position: absolute;
  text-align: center;
  top: 20%;
  left: 10%;
  right: 10%;
  margin: 15 auto;
}

.text {
  padding: 10;
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}